{% extends "@Math/base.html.twig" %}
{% block body %}
    {% block menu %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home_page') }}">Andrew <span class="glyphicon glyphicon-home" aria-hidden="true"></span>

                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">

                    <ul class="nav navbar-nav">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Flowers<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('flowers') }}">List</a></li>
                                <li><a href="{{ path('add_flower_from') }}">Add</a></li>
                                <li><a href="{{ path('new_list') }}">New list</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('start_test') }}">Test</a></li>
                                <li><a href="{{ path('learn') }}">Learn</a></li>
                                <li><a href="{{ path('autostart') }}">Auto-learn</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    {% endblock %}
{% endblock %}
