{% block pagination %}
    {% set previous = '#' %}
    {% set next = '#' %}
    {% set first = '#' %}
    {% set last = '#' %}

    {% if page != countPages %}
        {% set last = path(my_route,{'specialId':specialId,'page':countPages}) %}
    {% endif %}

    {% if page > 1 %}
        {% set previous = path(my_route,{'specialId':specialId,'page':(page-1)}) %}
        {% set first = path(my_route,{'specialId':specialId,'page':1}) %}
    {% endif %}
    {% if page < countPages %}{% set next = path(my_route,{'specialId':specialId,'page':(page+1)}) %}{% endif %}
    <div class="">
        <div class="zag">
            <ul class="pagination pagination-lg">
                {% if countPages > 1 %}
                    <li {% if page == 1 %}class="disabled"{% endif %}><a href="{{ first }}" ><span aria-hidden="true">Перша</span></a></li>
                    <li {% if page == 1 %}class="disabled"{% endif %}>
                        <a href="{{ previous }}" aria-label="Previous"><span aria-hidden="true">«</span></a>
                    </li>
                    {% if page < 4 %}
                        <li {% if page == 1 %}class="active"{% endif %}>
                            <a href="{% if page == 1 %}#{% else %}{{ path(my_route,{'specialId':specialId,'page':1})}}{% endif %}" >1</a>
                        </li>
                        <li {% if page == 2 %}class="active"{% endif %}>
                            <a href="{% if page == 2 %}#{% else %}{{ path(my_route,{'specialId':specialId,'page':2})}}{% endif %}">2</a>
                        </li>
                        {% if countPages > 2 %}
                            <li {% if page == 3 %}class="active"{% endif %}>
                                <a href="{% if page == 3 %}#{% else %}{{ path(my_route,{'specialId':specialId,'page':3})}}{% endif %}">3</a>
                            </li>
                            {% if countPages > 3 %}<li><a href="{% if countPages == 4 %}{{ path(my_route,{'specialId':specialId,'page':4})}}{% else %}{{ path(my_route,{'specialId':specialId,'page':5})}}{% endif %}">...</a></li>{% endif %}
                        {% endif %}
                    {% elseif page < (countPages - 2)  %}
                        <li>
                            <a href="{{ path(my_route,{'specialId':specialId,'page':(page-3)})}}">...</a>
                        </li>
                        <li>
                            <a href="{{ path(my_route,{'specialId':specialId,'page':(page-1)})}}">{{ (page-1) }}</a>
                        </li>
                        <li class="active" >
                            <a href="#"> {{ page }} <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="{{ path(my_route,{'specialId':specialId,'page':(page+1)})}}">{{ (page+1) }}</a>
                        </li>
                        <li>
                            <a href="{{ path(my_route,{'specialId':specialId,'page':(page+3)})}}">...</a>
                        </li>
                    {% elseif page >= (countPages - 2) %}
                        <li>
                            <a href="{{ path(my_route,{'specialId':specialId,'page':(countPages - 3)})}}">...</a>
                        </li>
                        <li {% if page == (countPages-2) %}class="active"{% endif %}>
                            <a href="{% if page == (countPages-2) %}#{% else %}{{ path(my_route,{'specialId':specialId,'page':(countPages-2)})}}{% endif %}" >{{ (countPages-2) }}</a>
                        </li>
                        <li {% if page == (countPages-1) %}class="active"{% endif %}>
                            <a href="{% if page == (countPages-1) %}#{% else %}{{ path(my_route,{'specialId':specialId,'page':(countPages-1)})}}{% endif %}" >{{ (countPages-1) }}</a>
                        </li>
                        <li {% if page == (countPages) %}class="active"{% endif %}>
                            <a href="{% if page == (countPages) %}#{% else %}{{ path(my_route,{'specialId':specialId,'page':(countPages)})}}{% endif %}" > {{ (countPages) }}</a>
                        </li>
                    {% endif %}
                    <li {% if page == countPages %}class="disabled"{% endif %}><a href="{{ next }}" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    <li {% if page == countPages %}class="disabled"{% endif %}><a href="{{ last }}" ><span aria-hidden="true">Остання</span></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
