{% extends "@Math/parts/home_menu.html.twig" %}

{% block title%}
    Add flower
{% endblock %}

{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <br>

    <form action="{{ path('add_flower') }}" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-sm-3 control-label">Name:</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="name" value=""  title=""/>
                </div>
        </div>


        {% set value = 'Add' %}
        {% include '@Math/parts/button.html.twig' %}
    </form>


{% endblock %}
