{% extends '@Math/parts/home_menu.html.twig' %}
{% block title %}
    System
{% endblock %}
{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    {% if countSymptoms > 0 %}
        <div class="alert alert-info">It was {{ countSymptoms }} answer for learning.</div>
    {% endif %}



    {% if messages|length > 0 %}
        <div class="zag">
            System messages
        </div>
        {% for message in messages %}
            {{ message }} <br>
        {% endfor %}
    {% endif %}

    <div class="col-sm-12">
        <a href="{{ path('autolearn') }}" ><button type="button" class="btn btn-block btn-info btn-lg ">GO!</button></a>
    </div>
{% endblock %}
