{% extends '@Math/parts/home_menu.html.twig' %}
{% block title %}
    Flowers
{% endblock %}
{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <div class="zag" >
        <h1>
            Flowers
        </h1>
    </div>
{% if flowers|length > 0 %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th><div class="zag">Name</div></th>
                <th><div class="zag">Symptoms</div></th>
            </tr>
            {% for flower in flowers %}
                <tr>

                <td class="zag col-sm-6">
                    <div class="alert alert-danger">
                        {{ flower.name }}
                    </div>



                            <div class="form-group">
                                    <a href="{{ path('remove_flower',{'id':flower.id}) }}">
                                        <button type="button" class="btn btn-large btn-block btn-primary">Delete</button>
                                    </a>
                            </div>
                    <hr>
                    <hr><hr>
                    <div class="alert alert-danger col-sm-12">
                        Add symptom
                    </div><br>


                    <div class="alert alert-danger">
                        <form method="post" action="{{ path('add_symptom',{'id':flower.id}) }}" class="form-horizontal">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Try this</label>
                                <div class="col-sm-9">
                                    <select id="sel{{ flower.id }}" onchange="setSymptomName({{ flower.id }})" class="form-control" title="">
                                        {% for symptom in uniqSymptoms %}
                                            <option>{{ symptom[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name:</label>
                                <div class="col-sm-9">
                                    <input id="name{{ flower.id }}" value="" class="form-control" type="text" name="name" title=""/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Weight:</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" min="0" name="weight" title=""/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-large btn-block btn-primary">Add symptom</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </td>

                <td class="zag col-sm-6">
                        {% if flower.symptoms|length > 0 %}
                            <table class="table table-unbordered" >
                                <tbody>
                                <tr>
                                    <th><div class="zag">#</div></th>
                                    <th><div class="zag">Name</div></th>
                                    <th><div class="zag">Weight</div></th>
                                    <th><div class="zag">Options</div></th>

                                </tr>
                                {% set i = 0 %}
                                {% set sum = 0 %}
                                {% for symptom in flower.symptoms %}
                                    {% set i = i +1 %}
                                    {% set sum = sum + symptom.weightFactor %}
                                    <tr>
                                        <td class="col-sm-1">
                                            <div class="alert alert-danger">
                                                {{ i }}
                                            </div>
                                        </td>
                                        <td class="col-sm-5">
                                            <div class="alert alert-danger">

                                            {{ symptom.name }}
                                            </div>

                                        </td>

                                        <td class="col-sm-4">
                                            <div class="alert alert-danger">
                                                <form method="post" action="{{ path('edit_weight',{'id':symptom.id}) }}" class="form-horizontal" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input class="form-control"  type="number" min="0" name="weight" value="{{ symptom.weightFactor }}"  title=""/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-large btn-block btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>

                                        <td class="col-sm-2">
                                            <div class="alert alert-danger">

                                            <a href="{{ path('remove_symptom',{'id':symptom.id}) }}" class="">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                            </div>

                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <div class="zag alert alert-danger">Sum: {{ sum }}</div>
                        {% else %}
                            There are no symptoms
                        {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">

        function setSymptomName(id) {
            document.getElementById('name'+id).value = document.getElementById('sel' + id).value;
        }

    </script>

{% endif %}

{% endblock %}
