{% extends '@Math/parts/home_menu.html.twig' %}
{% block title %}
    Flowers
{% endblock %}
{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}

    <div class="zag" >
        <h1>
            Flowers
        </h1>
        {% if flowers|length > 0 %}
            {% for flower in flowers %}
                <a href="{{ path('new_flower',{'id':flower.id}) }}">{{ flower.name }}</a><br>
            {% endfor %}
        {% endif %}
    </div>


{% endblock %}
