{% extends '@Math/parts/home_menu.html.twig' %}
{% block title %}
    System
{% endblock %}
{% block body %}
    {% block menu %}
        {{ parent() }}
    {% endblock %}



{% if symptoms|length > 0 %}
<div class="alert alert-danger">
    Choose some symptoms
</div>
        <form class="form-horizontal" method="post" action="{% if flowers %}{{path('add_knowledge') }}{% else %}{{ path('get_answer') }}{% endif %}">
        {% set prev = null %}
        {% set id = 0 %}
        {% for symptom in symptoms %}
            <div {% if prev == symptom.name %}  hidden {% else %} {% set id = id + 1 %} {% endif %} class="form-group">
                <label class="col-sm-4 control-label">{{ symptom.name }}:</label>
                <div class="col-sm-8">
                    <label class="radio-inline">
                        <input
                                {% if prev != symptom.name %}
                                    onclick="setHidden({{ id }},true)"
                                {% else %}
                                    id="{{ id }}"
                                {% endif %}
                                type="radio"
                                value="1"
                                name="{{ symptom.id }}">
                        Так
                    </label>
                    <label class="radio-inline">
                        <input
                                type="radio"
                                value="0"
                                name="{{ symptom.id }}">
                        Ні
                    </label>
                </div>
            </div>
            {% set prev = symptom.name %}
        {% endfor %}

        {% if flowers %}
            <br>
            <div class="alert alert-danger">
                Choose right answer.
            </div>
            <select class="form-control" name="flower" title="">
                {% for flower in flowers %}
                    <option value="{{ flower.id }}">{{ flower.name }}</option>
                {% endfor %}
            </select>
            <br>
        {% endif %}

        {% set value = 'Send' %}
        {% include('@Math/parts/button.html.twig') %}

    </form>

    <script>
        function setHidden(id, val) {
            var allCB = document.querySelectorAll("input[id='"+id+"']");

            for(var i=0; i< allCB.length; i++){
                allCB[i].checked=val;
            }
        }

        function setAllByName() {
            var x = document.getElementById("mySelect");
            var txt = "All options: ";
            var i;
            for (i = 0; i < x.length; i++) {
                txt = txt + "\n" + x.options[i].value;
            }
            alert(txt);
        }
    </script>

    {% if answer %}

        <div class="alert alert-danger">
            Answer of system
        </div>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th><div class="zag">Ім'я</div></th>
            </tr>
            <tr>
                <td class="col-sm-1">{{ answer.name }}</td>
            </tr>
            </tbody>
        </table>

    {% endif %}




{% endif %}

{% endblock %}
